<div class="footer">
    <div class="footer-columns">
        <img src="images/Kuvio.png" alt="Kuvio Logo" />
        <div>Working remotely 💫 since way before the new normal.</div>
        <div class="footer-links">
            <b>Links</b>
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Work</a>
            <a href="/">Specialties</a>
            <a href="/">Resources</a>
            <a href="/">Contact</a>
            </div>
        <div class="footer-links">
            <b>Connect</b>
            <a href="/">Linkedin</a>
            <a href="/">Twitter</a>
            <a href="/">Instagram</a>
            <a href="/">Podcast</a>
        </div>
            <div class="newsletter">
            Request for our transparent pricing guide straight to your inbox.
            <NewsletterSignUp />
            </div>
    </div>
    <div class="footer-columns bottom">
        <span>© 2023 Kuvio • All Rights Reserved</span>
        <span><a href="/">Disclaimer</a> • <a href="/">Privacy</a> • <a href="/">Cookie Policy</a></span>
    </div>
</div>