@page "/"

<PageTitle>Kuvio</PageTitle>
<div class="landing">
    <h1>Landing Page</h1>
    <AsideContent BoldText="We merge creative disciplines to create what matters" BgColor="#FBFBF7">
        <AsideComp>
            <section>
                <span class="title">
                    <span class="num">01</span>
                    <img src="images/star.png" />
                    Digital Design & Development
                </span>
                <p>
                    We deliver success using a multidisciplinary team and approach; creatives, designers, strategists and developers work collaboratively with our clients to combine research, planning and creativity to ensuring that the brands we create are effective, memorable and actionable.
                </p>
                <ul>
                    <li>Research Studies (Consumer + Market Insights)</li>
                    <li>Customer Segmentation + Persona Development</li>
                    <li>Brand Belief Framework (Belief + Purpose + Vision + Core Values)</li>
                    <li>Positioning</li>
                    <li>Brand Architecture</li>
                    <li>Brand Story</li>
                </ul>               
            </section>
            <section>
                <span class="title">
                    <span class="num">02</span>
                    <img src="images/dots.png" />
                    Digital Design & Development
                </span>
                <p>
                    We deliver success using a multidisciplinary team and approach; creatives, designers, strategists and developers work collaboratively with our clients to combine research, planning and creativity to ensuring that the brands we create are effective, memorable and actionable.
                </p>
                <ul>
                    <li>Research Studies (Consumer + Market Insights)</li>
                    <li>Customer Segmentation + Persona Development</li>
                    <li>Brand Belief Framework (Belief + Purpose + Vision + Core Values)</li>
                    <li>Positioning</li>
                    <li>Brand Architecture</li>
                    <li>Brand Story</li>
                </ul>
            </section>
            <section>
                <span class="title">
                    <span class="num">03</span>
                    <img src="images/circle.png" />
                    Digital Design & Development
                </span>
                <p>
                    We deliver success using a multidisciplinary team and approach; creatives, designers, strategists and developers work collaboratively with our clients to combine research, planning and creativity to ensuring that the brands we create are effective, memorable and actionable.
                </p>
                <ul>
                    <li>Research Studies (Consumer + Market Insights)</li>
                    <li>Customer Segmentation + Persona Development</li>
                    <li>Brand Belief Framework (Belief + Purpose + Vision + Core Values)</li>
                    <li>Positioning</li>
                    <li>Brand Architecture</li>
                    <li>Brand Story</li>
                </ul>
            </section>
        </AsideComp>
        </AsideContent>
        <CTA />
</div>
