@page "/resources"

<HeaderDivider BgColor="white-bg" SectionTitle="Resources" SectionNum="01" />
<SideText />
<section class="resources">
    <Resource />
    <Resource />
    <Resource />
    <Resource />
    <Resource />
    <Resource />
</section>
<CTA />