//Global
@import "App.Variables";
@import "App.Typography";

//Shared
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Components/AsideContent";
@import "Components/SpecialHeading";
@import "Components/CTA";
@import "Components/NewsletterSignUp";
@import "Components/Staff";
@import "Components/HeaderDivider";

//Pages
@import "Pages/Index";


//Fonts
@font-face {
    font-family: 'Manuka';
    src: url(wwwroot/fonts/Manuka-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Satoshi Variable';
    src: url(wwwroot/fonts/Satoshi-Variable.ttf) format('truetype');
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grey-bg {
    background: $grey-background;
}

.white-bg {
    background: $white;
}