//Global
@import "App.Variables";
@import "App.Typography";

//Shared
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Components/AsideContent";
@import "Components/SpecialHeading";
@import "Components/CTA";
@import "Components/NewsletterSignUp";
@import "Components/Staff";
@import "Components/HeaderDivider";
@import "Components/Resource";
@import "Components/SideText";
@import "Components/EntriesList";

//Pages
@import "Pages/Index";
@import "Pages/ResourceItem";


//Fonts
@font-face {
    font-family: 'Manuka';
    src: url(wwwroot/fonts/Manuka-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Satoshi Variable';
    src: url(wwwroot/fonts/Satoshi-Variable.ttf) format('truetype');
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grey-bg {
    background: $grey-background;
}

.white-bg {
    background: $white;
}

h1 {
    color: $primary-dark;
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

input {
    background: transparent;
}

a {
    text-decoration: none;
}

:focus-visible, :focus {
    border: 2px solid $primary-orange;
    box-shadow: 1px 1px 3px $primary-dark;
}

