//colors

$background: #FFFFFF;
$black: #000000;
$white: #FFFFFF;

$grey-900: #140903;
$grey-800: #433A35;
$grey-700: #726B68;
$grey-600: #726B68;
$grey-400: #A19D9A;
$grey-200: #D0CECD;
$grey-100: #F6F4F3;
