@import "../_variables.scss";

.aside-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 146px;
    width: auto;

    .left {
        max-width: 45%;
        margin-right: 168px;
        color: $primary-dark;
    }

    .bold-text {
        font-family: 'Manuka';
        font-style: italic;
        font-weight: 600;
        font-size: 128px;
        line-height: 82.6%;
        text-transform: uppercase;
    }


    .under-text {
        color: $primary-dark;
        font-family: 'Satoshi Variable';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-top: 100px;
        display: block;

        ul {
            list-style-type: "✓";
            font-family: 'Satoshi Variable';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $dark-grey;
            margin: 0px;
            padding: 0px;
            margin-top: 40px;
            list-style-position: outside !important;
        }

        ul li {
            padding-left: 20px;
        }

        ul li::marker {
            color: $primary-orange;
        }
    }

    .side-content {
        color: #2B2A2B;
        font-family: 'Satoshi Variable';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        min-width: 40%;

        section {
            margin-bottom: 50px;
            padding-top: 50px;
            border-top: 1px solid #AFB0B7;

            .title {
                font-family: 'Satoshi Variable';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 115%;
                color: $primary-dark;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .num {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 115%;
                    color: $dark-grey;
                    margin-right: 30px;
                }

                img {
                    margin-right: 30px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin-left: 30px;
            }

            ul {
                list-style-type: '—';
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin-left: 30px;
            }
        }
    }
}