<section class="entries-list">
    <div class="entry">
        <span class="title">Text</span>
        <span class="info">Date</span>
    </div>
    <div class="entry">
        <span class="title">Text</span>
        <span class="info">Date</span>
    </div>

    <a href="/resources" class="more-link">View More</a>
</section>

@code {

}