<div class="newsletter-signup">
    <input placeholder="Enter Your Email" />
    <button>Request <img src="/images/smallarrow.png" /></button>
</div>
<div class="consultation-button">
    Book a free consultation
</div>