<div class="text-placement">
    <div class="side-text">
        Browse and download our collection of mostly original resources, guides, reports, and tools, created by our team. If you have any problems just email us and ask for a copy.
    </div>
</div>
