@import "../_variables.scss";

.text-placement {
    padding: 146px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .side-text {
        width: 999px;
        font-family: 'Satoshi Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 105%;
        color: $primary-dark;
    }
}

