<div class="heading-component">
    <div class="subtitle">@Subtitle</div>
    <h2>@Title</h2>
</div>

@code {
    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public string? Title { get; set; }
}