@import "../_variables.scss";

.heading-component {
    overflow: hidden;
    padding: 0px;
    margin: 0px;

    .subtitle {
        font-family: 'Satoshi Variable';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 115%;
        text-align: center;
        color: $primary-dark;
        margin: 30px;
    }

    h2 {
        font-family: 'Manuka';
        font-style: italic;
        font-weight: 600;
        font-size: 250px;
        line-height: 206px;
        text-align: center;
        text-transform: uppercase;
        color: $primary-dark;
        position: relative;
        margin: 0px;
        margin-bottom: -37px;
    }
}
